*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: .5rem;
 @media #{$xs}{
   font-size: .7rem;
 }
 @media #{$sm}{
   font-size: 1rem;
 }
 @media #{$md}{
   font-size: 1.2rem;
 }
 
 @media #{$xxl}{
   font-size: 1.5rem;
 }
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background: $background;
}
ul {list-style: none;}
li {display: inline-block;}
a {text-decoration: none;display: inline-block;}