.overlay{
    @include flex($direction: column, $justify: center, $align: center, $gap: 1rem);
    @include position(absolute, $left: 0, $top: 0);
    width: 100%;
    height: 100%;
    background: linear-gradient(75deg, #000000f5, #0000008e);
    text-align: center;
    color: white;
    opacity: 0;
    transition: all 0.3s;
    overflow: auto;
}
.for-video{
    position: fixed;
    z-index: 100;
    background: #000000fd;
    opacity: 1;
}
.close-overlay-btn{
    position: absolute;
    top: 10%;
    right: 10%;
    cursor: pointer;
    font-size: 1.7rem;
    transition: all 0.3s;
    &:hover{transform: scale(1.2);}
}