.primary-btn{
    padding: .6rem 1.5rem;
    border-radius: 25px;
    background: $primary;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 7px black;

    font-size: inherit;
    transition: all 0.3s;
    &:hover{transform: scale(1.1);}
}