.hero-slider-container {
  overflow-x: hidden;
  width: 100%;
  position: relative;

  .hero-slider {
    &::-webkit-scrollbar {height: 0;}
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    .hero-content-slider {
      position: relative;
      scroll-snap-align: start;
      .hero-content-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .hero-slider-info {
        @include flex($direction: column, $justify: space-between, $align: center, $gap: 1rem);
        padding-inline: 1.5rem;
        overflow: hidden;

        .play {
          font-size: 2.5rem;
          cursor: pointer;
          transition: all 0.4s ease;
          z-index: 3;
          &:hover {
            transform: scale(1.3);
            color: $primary;
          }
        }
      }
    }
  }
  .controls {
    @include flex($justify: space-between, $align: center);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
    
    .left,.right {
      color: #ffffffd8;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 2.5rem;
      &:hover {transform: scale(1.1);}
    }
  }
  .hero-slider-info { @include flex($direction: column, $justify: space-between, $align: center, $gap: 1rem);}
}