.nav{
    @include flex($justify: space-between, $align: center);
    padding: .2rem 1rem;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    @include position($position: fixed, $top:0);
    z-index: 50;
    transition: all 0.4s;
    
    .logo{color: $primary; font-weight: 600; font-size: 2rem;}
        
    .links{
        @include flex($justify: space-between, $align: center, $gap: 1.1rem);
        a{
            transition: all 0.4s;
            color: #ffffff;
            border-bottom: 1px solid #ffffff00;
            &:hover{transform: scale(1.1);}
        }
    }  

    .search-btn{
        cursor: pointer;
        color: #ffffffcc;
        font-size: 1.3rem;
    }
}
.color-on-scroll{background: $nav-background;}