.nav {
  @include position($position: fixed, $top: 0);
  width: 100%;
  padding: 0.35rem 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-content: center;
  z-index: 50;
  color: white;
  white-space: nowrap;
  overflow-x: hidden;
  transition: all 0.4s;

  .search-btn{
    font-size: 1rem;
  }
  .logo {
    color: $primary;
    font-weight: 600;
    font-size: 2rem;
  }
  .links {
    @include flex($justify: center, $align: center, $gap: 1.1rem);
    grid-column: 2/3;
    a {
      transition: all 0.4s;
      color: #ffffff;
      border-bottom: 1px solid #ffffff00;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .search-form {
    @include flex($justify: space-between, $align:center);
    padding-left: 0.3rem;
    transition: all 0.3s;
    width: 80%;
    margin-left: auto;
  } 
}
.color-on-scroll {
  background: $nav-background;
}
