.nav {
  @include position($position: fixed, $top: 0);
  width: 100%;
  padding: 0.35rem 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-content: center;
  z-index: 50;
  color: white;
  white-space: nowrap;
  overflow-x: hidden;
  transition: all 0.4s;

  .search-btn{
    cursor: pointer;
    font-size: 1.5rem;
    width: auto;
    @media #{$md}{display: none;}
    margin-left: auto;
  }

  .logo {
    color: $primary;
    font-weight: 600;
    font-size: 2rem;
  }

  .links {
    @include flex($justify: center, $align: center, $gap: 1.1rem);
    grid-column: 2/3;
    a {
      transition: all 0.4s;
      color: #ffffff;
      border-bottom: 1px solid #ffffff00;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .search-form {
    background: #66666662;
    width: 85%;
    margin-left: auto;
    display: none;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid #999999d3;

    @media #{$md}{width: 85%; display: flex;}

    input {
      width: 100%;
      padding: .4rem 0.7rem;
    }
  }
  
  .search-form-active{
    display: flex;
    grid-row: 2;
    grid-column: 1/4;

    @media #{$md}{grid-row: 1; grid-column: 3/4;}
  }
}
.color-on-scroll {
  background: $nav-background;
}
